.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* =================================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Great Vibes', cursive;
  color: #ccac00;
  text-shadow: 5px 10px 2px #000;
}

#bgGrad {
  background-image: url('https://img.freepik.com/premium-vector/gradient-luxury-background-with-golden-elements_52683-65196.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.inputTxt {
  font-family: 'Merienda', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.smallTxt {
  font-size: 1rem;
  text-shadow: none;
}

.noShdw {
  text-shadow: none;
}

.bigTxt {
  font-size: 2.5rem;
}

.sizeBox {
  width: 150px;
}

.btnGold {
  background-color: #ccac00;
  font-size: 2rem;
  width: 150px;
  text-align: center;
  padding: .25rem;
  border: none;
}

.btnGold:hover {
  background-color: rgba(204,172,0,0.6);
  transition: .5s linear .2s;
}

.center {
  height: 100vh;
}

.centerBtn {
  margin: 0 auto;
  font-size: 1rem;
}

.gameStart {
  display: none;
}

.game-board {
  width: 1500px;
  padding: 0;
}

.gameHeader{
  width: 1500px;
}

.sText {
  text-shadow: none;
}

#answerR {
  display: none;
}

#qCard {
  position: relative;
}

#qCard button {
  width: 200px;
  height: 150px;
}

#margin-top {
  margin-top: 2rem;
}

#qCard:hover {
  cursor: pointer;
}

#overlay {
  position: absolute; 
  display: block; 
  width: 200px; 
  height: 150px; 
  border-radius: 5px;
  top: 4px;
  left: 4px;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
}